name: Test Workflow 1

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to target
        required: true
        type: choice
        default: test
        options:
          - prod
          - test
  push:
    branches:
      - main

jobs:
  test-sleep:
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.environment || (github.ref == 'refs/heads/main' && 'prod' || 'test') }}
    steps:
      - name: Sleep for 1 minute
        run: sleep 60
  log-test-var:
    runs-on: ubuntu-latest
    needs: test-sleep
    environment: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.environment || (github.ref == 'refs/heads/main' && 'prod' || 'test') }}
    env:
      TEST_VAR: ${{ vars.TEST_VAR }}
    steps:
      - name: Log TEST_VAR
        run: echo "TEST_VAR=${TEST_VAR}"
