name: version-and-tag

on:
  workflow_dispatch:
  push:
    branches:
      - ci-versioning

permissions:
  contents: write
  actions: read
  checks: read
  statuses: read

jobs:
  wait-for-workflows:
    name: Wait for workflows
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Wait for workflows
        id: wait
        uses: int128/wait-for-workflows-action@v1
        with:
          period-seconds: 30

  bump-version-and-tag:
    runs-on: ubuntu-latest
    needs: [wait-for-workflows]
    permissions:
      contents: write
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump package version and tag
        id: bump_version
        uses: phips28/gh-action-bump-version@v10.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix: ci-
          commit-message: "ci: version bump to {{version}} [skip ci]"
